language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

env:
  - SYMFONY_VERSION=2.2.*
  - SYMFONY_VERSION=2.3.*
  - SYMFONY_VERSION=2.4.*
  - SYMFONY_VERSION=2.5.*
  - SYMFONY_VERSION=2.6.*
  - SYMFONY_VERSION=2.7.*
  - SYMFONY_VERSION=2.8.*
  - SYMFONY_VERSION=3.0.*

before_script:
  - composer self-update
  - composer require symfony/http-foundation:${SYMFONY_VERSION} --no-update
  - composer require symfony/http-kernel:${SYMFONY_VERSION} --no-update
  - composer require symfony/dependency-injection:${SYMFONY_VERSION} --no-update
  - composer require symfony/config:${SYMFONY_VERSION} --no-update
  - composer install --dev --prefer-source --no-interaction --no-progress

script: phpunit --coverage-text
